* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 400px;
}

body {
    width: 100%;
}

.header {
    background: #141f40;
    width: 100%;
    height: 100px;
}


.left {
    background: #80bfa8;
    width: 150px;
    height: 250px;
    float: left;
}

.right {
    background: #8c2727;
    width: 250px;
    height: 250px;
    float: left;
}

.footer {
    background: #d98d30;
    width: 100%;
    height: 100px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
 }
 
@media screen and (max-width: 767px) {

    .wrapper {
        width: 250px;
    }
    .header {
        width: 250px;
    }
    .right {
        width: 100px;
    }
    .footer {
        width: 250px;
    }
}

@media screen and (max-width: 479px) {
    
    .wrapper {
        width: 150px;
    }
    body {
        width: 150px;
    }
    .header {
        width: 150px;
    }
    .rigth {
        width: 150px; 
    }
    .left {
        width: 150px;
    }
    .footer {
        width: 150px;
    }
    .clearfix {
        float: none;
    }
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }
}